/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container{
	width:80%;
    margin:15px auto;
}


header{
    margin-bottom:70px;
    display:flex;
    justify-content: space-around;
    width:100%;
}

.top-nav{     
    display:flex;
    justify-content: space-around;
    align-items: center;
}


.top-nav a {
	padding:0 30px;
	text-decoration:none;
    color:gray;
}




.top-nav a:hover{
	color:lightblue;

}

.options{
    display:flex;
}

.top-section{
    margin-top:50px;
    align-items: center;
    justify-content: center;
}

.split{
    width:49%;
    margin:0px 20px;
	
}

.split p{
	padding-right:10px;
}

.split3{
    width:30%;
    margin:0px 20px;
}

.center{
	text-align:center;
}


#img-cont{
	padding:30px 0px;
}

#img-cont img{
	width:100%;
}

h1{
	font-size:60px;
}

h2{
	font-size:20px;
}

hr{
margin:30px 0px;
}



.contact-info{
    text-align:center;
    line-height:1.5;
}

section p{
	color:gray;
}

button{
    padding:10px 30px;
    border-radius:8px;
    background:white;
    border:1px solid black;
}


/* for tablet */
@media(max-width:900px){
    header{
        flex-wrap:wrap;
        margin-top:20px;
    }
    .container{
        width:100%;
        min-width:250px;
    }

    .globe{
        display:none; 
    }

    .top-nav{
        width:100%;
    }

    .top-section{
        justify-content: center;
    }

    .split, .split3{
        margin:0px 20px;
        
    }

    
    .contact-info{
        text-align:left;
        margin-left:20px;
    }

    .copy{
        text-align:center;
    }

    .top-nav a{
        padding:10px;
    }

    .top-nav-img{
        order: -1;
        width:100%;
        text-align:center;
        margin-bottom:30px;
    }

}




/* for mobile */

@media(max-width:600px){
    .container{
        width:100%;
    }

    .options{
        flex-direction: column;
        padding:0 20px;
    }

    .split, .split3{
        width:100%;
        margin:20px 0;
    }


    .top-nav{
        display:flex;
        flex-direction:column;
        margin:0;
        padding:0;
        width:100%;
    }

    .top-nav a{
        padding:15px 0;
        width:100%;
        text-align: center;
        border-top:1px solid black;
    }


    .nav-pos-6{
        border-bottom:1px solid black;
    }
}